#imagem {
	width: 100%;
	height: 100%;
}

#imagem{
	padding-top: 20%;
}

h2{
	width: 100%;
	padding-top: 50%;
	font-family: 'Open Sans', sans-serif;
}

#button1{
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;

}

#texto3{
	font-family: 'Indie Flower', cursive;
}

.row2{
	padding-top: 10%; 
}

#texto3{
	font-size: 90%;
	padding-top: 25%;
}

